
      <div class="powr-countdown-timer" id="shopify-section-countdown-timer-{{ section.id }}"></div>
      {% schema %}
        {
          "name": "Countdown Timer",
          "settings": [
            {
              "type": "header",
              "content": "Edit",
              "info": "Manage Plugins on [POWr.io](https://powr.io)"
            },
            {
              "type": "paragraph",
              "content": "Click Edit Me in Preview to Edit Countdown Timer."
            },
            {
              "type": "paragraph",
              "content": "[Need Help?](https://powr.io/knowledge-base)"
            }
          ],
          "presets": [
            {
              "name": "Countdown Timer",
              "category": "POWr Plugins"
            }
          ]
        }
      {% endschema %}
      