<section class="section-inner_how-it-works">
  <div class="container">
    <div class="how_work">
      <h2 class="dark-text text-center fs3 fw7 mb3">How It Works</h2>
      
      <div class="dg">
        
          <div class="your_story">
            <div class="ypur_story_img mb5">
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0072/0319/2898/files/MemoryStitch_icons_Collect-Your-Favorite-Shirts_900px.png?v=18261795736124958165" class="h-100 w-auto" alt="icon">
            </div>
            <h3 class="fs4">1. Pick Your T-shirts</h3>
            <p>Select the T-shirts for your quilt, customize your quilt settings and checkout.</p>
          </div>
        
          <div class="your_story">
            <div class="ypur_story_img mb5">
              <img loading="lazy" src="//cdn.shopify.com/s/files/1/0072/0319/2898/files/MemoryStitch_icons_Cut-and-Send-Shirts-To-MemoryStitch_900px.png?v=6505610213743026756" class="h-100 w-auto" alt="icon">
            </div>
            <h3 class="fs4">2. Ship Your T-shirts</h3>
            <p>After checkout, use our instructions to prepare and ship your T-shirts. </p>
          </div>
        
          <div class="your_story">
            <div class="ypur_story_img mb5">
              <img loading="lazy" src="//cdn.shopify.com/s/files/1/0072/0319/2898/files/MemoryStitch_icons_We-Send-Your-T-shirt-Quilt_900px.png?v=9943356458171836135" class="h-100 w-auto" alt="icon">
            </div>
            <h3 class="fs4">3. Get a T-shirt Quilt</h3>
            <p>Your T-shirts will be stitched together into an awesome quilt and shipped back to you!</p>
          </div>
        
      </div>
      <div class="how-it-works-cta"><a href="/pages/how-it-works" class="btn-secondary">Learn More</a></div>
      <!--<p class="notes-disclaimer"><small>*Free shipping anywhere in the US.</small></p>-->
    </div>
  </div>
</section>